# vi: set ft=bash ts=2 sw=2 sts=0 et:
source_up
layout python2


# pip install
REQUIREMENTS_FILE="./requirements.txt"
REQUIREMENTS_SHA256_FILE="./.direnv/requirements.txt.sha256"

pip_install() {
  pip install -r "${REQUIREMENTS_FILE}"
  sha256sum requirements.txt | tee "${REQUIREMENTS_SHA256_FILE}"
}

if [[ -f ${REQUIREMENTS_FILE} ]]; then
  if sha256sum -c ${REQUIREMENTS_SHA256_FILE} >/dev/null; then
    :
  else
    pip_install
  fi
else
  pip_install
fi

